@{
    ViewData["Title"] = "Lista de Produtos";
    var nomes = ViewBag.Nomes as List<string>;
    var precos = ViewBag.Precos as List<double>;
}

<h2>Nossos Produtos</h2>

<table class="table table-bordered" border="1" style="border-collapse: collapse; width: 100%; text-align: left;">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < nomes.Count; i++)
        {
            string estiloVerde = "";
            
            @if (precos[i] < 100)
            {
                estiloVerde = "background-color: #d4edda; color: #155724;"; 
            }

            <tr style="@estiloVerde">
                <td>@(i + 1)</td>
                <td>@nomes[i]</td>
                <td>R$ @precos[i].ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<p><strong>Total: @nomes.Count produtos</strong></p>